.heading { 
 background-image: url("https://wallpaper-house.com/data/out/9/wallpaper2you_323860.jpg");
}

hr {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
} 
